body {
    font-family: Arial, sans-serif; 
    background-image: url('{% static "images/background.jpg" %}');
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.resume-container {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: 50px auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.header-section {
    background-color: rgba(44, 44, 44, 0.9);
    color: white;
    padding: 35px;
    text-align: center;
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.contact-info {
    margin-top: 30px;
}

.icon-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.icon-text i {
    margin-right: 10px;
    font-size: 30px;
}

.icon-text a {
    margin-right: 15px;
    font-size: 24px;
    color: white;
    text-decoration: none;
}

.main-content {
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.7);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.grid-item {
    margin: 10px 0;
}

.link-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    background-color: rgba(44, 44, 44, 0.9);
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    font-size: 18px;
}

.link-box:hover {
    background-color: rgba(44, 44, 44, 0.7);
}
