{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Резюме | Denis Kondrashov{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <header>
            {% include 'portfolio/includes/header.html' %}
        </header>

        <div class="content">
            {% block content %}{% endblock %}
        </div>

        <footer>
            {% include 'portfolio/includes/footer.html' %}
        </footer>
    </div>
</body>
</html>
