{% extends 'portfolio/base.html' %}

{% block title %}Главная | Denis Kondrashov{% endblock %}

{% block content %}

    <section class="grid">
        <div class="grid-item">
            <h2><a href="{% url 'skills' %}">Умения</a></h2>
        </div>
        <div class="grid-item">
            <h2><a href="{% url 'achievements' %}">Достижения</a></h2>
        </div>
        <div class="grid-item">
            <h2><a href="{% url 'education' %}">Учеба</a></h2>
        </div>
        <div class="grid-item">
            <h2><a href="{% url 'work_experience' %}">Опыт работы</a></h2>
        </div>

    </section>
{% endblock %}
