{% extends 'portfolio/base.html' %}

{% block content %}

<section class="grid">
    <div class="grid-item">
        <a href="{% url 'skills' %}" class="link-box">Навыки</a>
    </div>
    <div class="grid-item">
        <a href="{% url 'projects' %}" class="link-box">Проекты</a>
    </div>
    <div class="grid-item">
        <a href="{% url 'education' %}" class="link-box">Обучение</a>
    </div>
    <div class="grid-item">
        <a href="{% url 'work_experience' %}" class="link-box">Опыт работы</a>
    </div>
</section>

{% endblock %}
