{% extends 'portfolio/new_home.html' %}

{% block content %}

    <section class="grid">
        <div class="grid-item">
            <h2><a href="{% url 'skills' %}">Навыки</a></h2>
        </div>
        <div class="grid-item">
            <h2><a href="{% url 'achievements' %}">Проекты</a></h2>
        </div>
        <div class="grid-item">
            <h2><a href="{% url 'education' %}">Обучение</a></h2>
        </div>
        <div class="grid-item">
            <h2><a href="{% url 'work_experience' %}">Опыт работы</a></h2>
        </div>

    </section>
{% endblock %}
